// Style left sidebar

#left-sidebar {
    margin-top: 5rem;
}
// local #text-3, #custom_html-3
.widget {
    
    background-color: $white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 40px;
    //padding: 40px 40px 40px 40px;

    h3 {
        color: $darkgray-header;
        text-align: center;
        padding: 2rem;
        //margin-bottom: 50px;
        //background-color: $green;
    }
    .textwidget {
        padding: 25px;
    }
}

#text-3 {
    margin-top: 60px;
}