#wpforms-form-256{
    
    background-color: #eee;
    padding: 20px 15px;
    border: 3px solid rgba(0,0,0,.1);
    border-radius: 20px;
}
//style form fields
div.wpforms-container-full .wpforms-form .wpforms-field, #wpforms-256-field_1-container {
    display: flex;
    text-align: center;

    .wpforms-field-row {
        max-width: 100%;
    }
}

.wpforms-field-medium {
    max-width: 100%;
}

.wpforms-submit-container{
    display: flex;
    justify-content: center;

    .wpforms-submit {
        background-color: $green;
    }
}