// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:700');
@import "home";
@import "sidebar";
@import 'theme_variables';



body {
    background-color: $white;
}
h1, h2, h3 {
    font-family: 'Noto Serif SC', serif;
    font-size: 1.2rem
}


a{
    color: $black;

}
a:hover{
    color: $green;
    text-decoration: none; 

}

#index-wrapper {

    padding: 30px;

}










