// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:700');
@import 'home';
@import 'sidebar';
@import 'theme_variables';
@import 'footer';
//@import 'nav';
//@import 'hero';
//@import 'sub-form';



body {
    background-color: $white;
    color: $darkgray-header;
}
h1 {
    font-family: $font-header;
    font-size: 1.5rem;
    text-align: center;
    
}
h2 {
    font-size: 1.2rem;
    font-family: $font-header;
    text-align: center;
}

h4, h5, h6 {
    font-family: $font-header;
    text-align: center;
}

h3 {
    font-family: 'Noto Serif SC', serif;
    font-size: 1.2rem;
    text-align: center;
    
}


a{
    color: $darkgray-header;  
    

}
a:hover{
    color: $green;
    text-decoration: none; 

}

#index-wrapper {

    //padding: 30px;

}

//Main content
#content{
    margin-top: 4rem;
}

// Main footer
#wrapper-footer-full{
    background-color: $green;
    color: $white;

    #text-4{
        .widget-title{
            padding-bottom: 2rem;
        }
        
    }

    #text-5, #text-6 {
        text-align: center;
    }

    .fa-facebook-square{
        padding-top: 2rem;
    }
}

    











